.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 83, 60);
    padding: 8px;
}

body {
    margin: 0px;
    padding: 0px;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header ul li {
    padding: 15px;
}

.header ul li a {
    text-decoration: none;
    color: white;
}

.header ul li a:hover {
    color: red;
    font-weight: bold;
}

.header .link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.main .link {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: black;
}

.main .link:hover {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}